.top-box {
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: space-evenly;
}

.top-box > div {
    display: flex;
    height: 300px;
    width: 300px;
    margin: 20px;
    padding: 15px;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 50px;
    background-color: darkgray;
}

.bot-box {
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 50px;           
}

.bot-box > div {
    width: 30%;
    height: 50%;
}

.div-title {
    width: 100%;
    text-align: center;
}

.header {
    width: 100%;
    height: 50px;
    background-color: black;
    padding-left: 50px;
    padding-top: 5px;
}

.header > h2 {
    color: whitesmoke;
}

.button-div {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.text-div {
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}

.text-div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image {
    max-width: 100%;
    max-height: 150px;
}

.mutable-text {
    text-align: end;
    width: 100%;
    padding-right: 10px;
}

.mutable-text-box {
    display: flex;
    flex-direction: row;
}

.bottom-row-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.komputer-display {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

.komputer-display-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.komputer-display-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}